# Модели и большие файлы
*.pkl
*.h5
*.pth
*.hdf5
*.keras

# Временные файлы
*.tmp
*.temp

# Логи
*.log

# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
alexnet_env/

# IDE
.vscode/
.idea/

# Системные файлы
.DS_Store
Thumbs.db
alexnet_env_311/
